{% extends "base.html" %}
{% load i18n %}
{% block content %}
  {% include "base_navbar.html" %}
  {% include "base_heading.html" %}

  <div class="d-flex flex-column align-items-center">
    <p class="text-justify px-3">{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

    <p class="text-justify px-3">{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
  </div>

{% endblock %}
