{% extends "base.html" %}
{% block morehead %}
  {% if is_episode %}
    <meta property="og:title" content="{{ ogtitle }}" />
    <meta property="og:url" content="{{ ogurl }}" />
    <meta property="og:audio" content="{{ MP3_URL }}{{ ogmp3 }}" />
    <meta property="og:audio:secure" content="{{ MP3_URL }}{{ ogmp3 }}" />
    <meta property="og:audio:type" content="audio/mpeg" />
  {% endif %}
{% endblock morehead %}

{% block content %}
  {% include "base_navbar.html" %}
  {% include "base_heading.html" %}
  <div id="main" class="mx-0 px-0">
    <div class="row w-100 mx-0">
      <div class="col-0 col-sm-3">
      </div>
      <div class="col-12 col-sm-6 px-0 mx-0">
        {% if user.is_authenticated %}
          {% if view == 'feed' %}
            <div class="text-center mb-3">
              <a href="{% url 'audio:edit_feed' pk=feed_pk title_slug=feed_slug %}">Edit Feed?</a>
            </div>
          {% endif %}
        {% endif %}

        {% for j in episodes %}
          <div class="card mx-1 mb-3">
            <h3 class="text-center mt-2">
              {{ j.episode_number }}. {{ j.title }}
            </h3>
            <div class="container w-100 mb-2">
              <div class="row">
                <div class="col-3 d-flex flex-column justify-content-center">
                  <img src="{{ IMAGES_URL }}{{ j.image }}">
                </div>
                <div class="col-9 d-flex flex-column justify-content-around">
                    <p class="text-center mb-2 mt-3">{{ j.pub_date }}</p>
                  <div class="d-flex flex-row justify-content-around">
                    <p><a type="button" class="btn btn-dark" href="{% url 'audio:episode' pk=j.pk slug=j.slug %}">Link</a></p>
                    {% if add_feed_link %}
                      <p><a type="button" class="btn btn-dark" href="{% url 'audio:feed' pk=j.feed.id slug=j.feed.slug %}">Feed</a></p>
                    {% endif %}
                    <p><a type="button" class="btn btn-dark" href="{% url 'audio:rss' slug=j.feed.slug %}">RSS</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="container w-100 mb-2 text-center">
              <p class="text-justify">{{ j.description }}</p>
              <audio controls class="btn btn-dark w-100">
                <source src="{{ MP3_URL }}{{ j.mp3 }}" type="audio/mpeg">
                Your browser does not support the audio tag.
              </audio>
            </div>

            {% if user.is_authenticated %}
              {% if user == j.user %}
              <div class="container w-100 d-flex justify-content-around my-1">
                <div>
                  <a href="{% url 'audio:edit_episode' pk=j.pk title_slug=j.slug %}">Edit Episode?</a><br>
                </div>
                <div>
                  <a href="{% url 'audio:new_episode' feed_pk=j.feed.pk feed_title_slug=j.feed.slug %}">New Episode?</a>
                </div>
              </div>
              {% endif %}
            {% endif %}

          </div>
        {% endfor %}
        {% if is_episode %}
          <div class="text-center">
            More from <a href="{% url 'audio:feed' pk=feed.id slug=feed.slug %}">{{ feed.title }}</a>?
          </div>
        {% endif %}
      </div>
      <div class="col-0 col-sm-3">
      </div>
    </div>
  </div>


{% endblock %}
