<div class="container">
  <div class="row justify-content-center my-2 mx-0">
    <h1 class="text-center">
      {% url 'accounts:login' as login_url %}
      {% url 'accounts:edit_profile' as edit_profile_url %}
      {% url 'accounts:password_change' as password_change_url %}
      {% url 'accounts:enable_totp' as enable_totp_url %}
      {% url 'accounts:disable_totp' as disable_totp_url %}
      {% url 'audio:new_feed' as new_feed_url %}
      {% url 'audio:feeds' as feeds_url %}
      {% url 'audio:home' as home_url %}
      {% url 'accounts:password_reset' as password_reset_url %}
      {% url 'accounts:password_reset_done' as password_reset_done_url %}
      {% url 'accounts:password_reset_complete' as password_reset_complete_url %}

      {% if request.path == login_url %}
        Login?
      {% elif request.path == edit_profile_url %}
        Edit Profile?
      {% elif request.path == password_change_url %}
        Change Password?
      {% elif request.path == enable_totp_url %}
        Enable 2fa?
      {% elif request.path == disable_totp_url %}
        Disable 2fa?
      {% elif request.path == new_feed_url %}
        New Feed?
      {% elif request.path == feeds_url %}
        Feeds
      {% elif request.path == home_url %}
        Home
      {% elif request.path == password_reset_url %}
        Reset Password?
      {% elif request.path == password_reset_done_url %}
        Password Reset Sent 
      {% elif request.path == password_reset_complete_url %}
        Password Reset Complete
      {% endif %}
      
      {{ heading }}

    </h1>
  </div>
</div>
